<!DOCTYPE html>
<html>
    <head>
        <title>Admin Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <P>Welcome to the Admin Page.<br>
           You can add new greeting and language in database!!</P>
        
        <div>Insert new greeting here:</div>
        
        <form action="addGreeting" method="POST">
            
            <input type="text" name="greeting"><br>
            <input type="text" name="language"><br>
            <button type="submit">Submit</button>
            <button><a href="/hello">Sign Out</a></button>
        </form>
         
    </body>
</html>
